<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/sheet1.css">
<title>Puzz</title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
              <h2>PUZZ</h2>
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form" action="/login" method="POST">
          <input type="text" placeholder="username" name="username" required/>
          <input type="password" placeholder="password" name="pass" required/>
          <button type="submit">login</button>
          <p class="message">Not registered? <a href="/Register">Create an account</a></p>
        </form>
      </div>
    </div>
</body>
</body>
</html>